# Malli referenssisovelluksesta
.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class

CourseTrackerApp/src/ui/__pycache__/ui.cpython-39.pyc
CourseTrackerApp/data/database.sqlite
CourseTrackerApp/data/database.sqlite-journal
