# Malli referenssisovelluksesta
.vscode
.DS_Store
.coverage
.pytest_cache
htmlcov
__pycache__
*.py[cod]
*$py.class

data/database.sqlite
data/database.sqlite-journal
data/test-database.sqlite
/../laskarit/*
